.genButton{
    transform: scale(1);
    transition: all 2s;
    border-radius: 10px;
}

.ai-response{
    border: 1px solid white;
    border-radius: 10px;
}
.token-field{
    border-radius: 5px;
    margin-left: -20px;
    padding: 5px;
}
.genButton:hover{
    transform: scale(1.15);
    transition: all 2s;
    border-radius: 50%;
}

.quotation{
    font-style: italic;
}

#bigText{
    font-size: 4rem;
}

.imgGen{
    max-width: 50%;
}

.animate-box{
    width: 50px;
    height: 50px;
    background-color: black;
    margin: 10px auto;
    border-radius: 50%;
}

.animate-circle{
    position: absolute;
    background-color: white;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    top: 25%;
    bottom: 25%;
    left: 25%;
    right: 25%;
}